## BACKEND

bonne_app_api/*.rbc
bonne_app_api/capybara-*.html
bonne_app_api/.rspec
bonne_app_api/public/system
bonne_app_api/coverage/
bonne_app_api/spec/tmp
bonne_app_api/*.orig
bonne_app_api/rerun.txt
bonne_app_api/pickle-email-*.html

# Ignore all logfiles and tempfiles.
bonne_app_api/log/*
bonne_app_api/tmp/*
!bonne_app_api/log/.keep
!bonne_app_api/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
bonne_app_api/config/initializers/secret_token.rb
bonne_app_api/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
bonne_app_api/.env
bonne_app_api/.env*.local

## Environment normalization:
bonne_app_api/.bundle
bonne_app_api/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# if using bower-rails ignore default bower_components path bower.json files
bonne_app_api/vendor/assets/bower_components
bonne_app_api/*.bowerrc
bonne_app_api/bower.json

# Ignore pow environment settings
bonne_app_api/.powenv

# Ignore Byebug command history file.
bonne_app_api/.byebug_history

# Ignore uploaded files in development
bonne_app_api/storage/*
!bonne_app_api/storage/.keep
bonne_app_api/public/uploads

## FRONTEND
bonne_app_frontend/.DS_STORE
bonne_app_frontend/node_modules
bonne_app_frontend/scripts/flow/*/.flowconfig
bonne_app_frontend/.flowconfig
bonne_app_frontend/*~
bonne_app_frontend/*.pyc
bonne_app_frontend/.grunt
bonne_app_frontend/_SpecRunner.html
bonne_app_frontend/__benchmarks__
bonne_app_frontend/build/
bonne_app_frontend/remote-repo/
bonne_app_frontend/coverage/
bonne_app_frontend/.module-cache
bonne_app_frontend/fixtures/dom/public/react-dom.js
bonne_app_frontend/fixtures/dom/public/react.js
bonne_app_frontend/test/the-files-to-test.generated.js
bonne_app_frontend/*.log*
bonne_app_frontend/chrome-user-data
bonne_app_frontend/*.sublime-project
bonne_app_frontend/*.sublime-workspace
bonne_app_frontend/.idea
bonne_app_frontend/*.iml
bonne_app_frontend/.vscode
bonne_app_frontend/*.swp
bonne_app_frontend/*.swo

bonne_app_frontend/packages/react-devtools-core/dist
bonne_app_frontend/packages/react-devtools-extensions/chrome/build
bonne_app_frontend/packages/react-devtools-extensions/chrome/*.crx
bonne_app_frontend/packages/react-devtools-extensions/chrome/*.pem
bonne_app_frontend/packages/react-devtools-extensions/firefox/build
bonne_app_frontend/packages/react-devtools-extensions/firefox/*.xpi
bonne_app_frontend/packages/react-devtools-extensions/firefox/*.pem
bonne_app_frontend/packages/react-devtools-extensions/shared/build
bonne_app_frontend/packages/react-devtools-extensions/.tempUserDataDir
bonne_app_frontend/packages/react-devtools-fusebox/dist
bonne_app_frontend/packages/react-devtools-inline/dist
bonne_app_frontend/packages/react-devtools-shell/dist
bonne_app_frontend/packages/react-devtools-timeline/dist