bonne_app_api/*.rbc
bonne_app_api/capybara-*.html
bonne_app_api/.rspec
bonne_app_api/public/system
bonne_app_api/coverage/
bonne_app_api/spec/tmp
bonne_app_api/*.orig
bonne_app_api/rerun.txt
bonne_app_api/pickle-email-*.html

# Ignore all logfiles and tempfiles.
bonne_app_api/log/*
bonne_app_api/tmp/*
!bonne_app_api/log/.keep
!bonne_app_api/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
bonne_app_api/config/initializers/secret_token.rb
bonne_app_api/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
bonne_app_api/.env
bonne_app_api/.env*.local

## Environment normalization:
bonne_app_api/.bundle
bonne_app_api/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# if using bower-rails ignore default bower_components path bower.json files
bonne_app_api/vendor/assets/bower_components
bonne_app_api/*.bowerrc
bonne_app_api/bower.json

# Ignore pow environment settings
bonne_app_api/.powenv

# Ignore Byebug command history file.
bonne_app_api/.byebug_history

# Ignore uploaded files in development
bonne_app_api/storage/*
!bonne_app_api/storage/.keep
bonne_app_api/public/uploads
